<template>
    <div class="login">
        <h1>Login</h1>
        <input type="text" placeholder="Email" v-model="email">
        <br>
        <input type="text" placeholder="Senha" v-model="senha">
        <br>
        <br>
        <div class="btn-login">
            <button @click="login" class="btn-primary">Login</button>
        </div>
        <br>
        <p>
            Você não tem conta?
            <router-link to="/registrar">Crie aqui sua conta!</router-link>
        </p>
    </div>
</template>

<script>
import firebase from 'firebase';
import { error } from 'util';

    export default {
        name:'login',
        data(){
            return{
                email:'',
                senha:''
            }
        },
        methods:{
            login: function(){
                firebase.auth().signInWithEmailAndPassword(this.email, this.senha).then(
                    (user)=>{
                        this.$router.replace("/home");
                        alert(`Bem vindo, ${{email}}`);
                    },
                    (error)=>{
                        alert('Não foi possível efetuar o Login. ' + error.message);
                    }
                );
            }
        }    
    };
</script>

<style scoped>
    
</style>