<template>
    <div class="signup">
        <h1>Crie uma nova conta</h1>
        <input type="text" placeholder="Email" v-model="email">
        <br>
        <input type="text" placeholder="Senha" v-model="senha">
        <br>
        <br>
        <div class="btn-login">
            <button @click="signUp" class="btn-primary">Registrar</button>
            <br>
            <br>
            <span>
                ou retorne a página de <router-link to="/login">Login</router-link>.
            </span>
        </div>
    </div>
</template>

<script>
import firebase from 'firebase';
import { error } from 'util';
    export default {
        name:'signUp',
        data(){
            return{
                email:'',
                senha:''
            }
        },
        methods:{
            signUp(){
                firebase.auth().createUserWithEmailAndPassword(this.email, this.senha).then(
                    (user)=>{
                        this.$router.replace('/home')
                    },
                    (error)=>{
                        alert('Aconteceu algo inesperado. ' + error.message)
                    }
                );
            }
        }
    };
</script>

<style scoped>
    
</style>